*{
	box-sizing: border-box;/*da logo stane u header*/
}

body{
	padding: 0px;
	margin: 0px;
	background-color: #f6f6f6;
	font-family: 'Raleway', sans-serif;
}

.clearfix::after { /*sluzi za content*/
	content: '';
	display: block;
	clear: both;
}

/* MESSAGES FOR AUTHORISATION PAGES */
.msg{
	width: 100%;
	margin: 5px auto;
	padding: 8px;
	border-radius: 5px;
	list-style: none;
}

.success{
	color: #3a6e3a;
	border: 1px solid #3a6e3a;
	background: #bcf5bc;
}

.error{
	color: #884b4b;
	border: 1px solid #884b4b;
	background: #f5bcbc;	
}

/* HEADER */

header{
	background-color: #1d9c72;
	height: 60px;
}

header *{
	color: white; /*boja slova u headeru*/
}

header .logo {
	float:left;
	height: inherit;
	margin-left: 2em;
}

header .logo-text{
	margin: 9px;
	font-family: 'Candal', 'serif';
}

header .logo-text span{
	color: black;
}
header .menu-toggle{
	display:none;
}
header a{
	text-decoration: none;
}

header ul{
	float:right;
	margin: 0px;
	padding: 0px;
	list-style: none;					
}
header ul a{
	height: 60px;				
}

header ul li{
	float: left;
	position:relative;
}

header ul li ul{ 
	position: absolute;
	top: 60px;
	right: 0px;
	width: 180px;
	display: none;
	z-index: 88888;
}

header ul li:hover ul{
	display:block;
}

header ul li ul li{
	width: 100%; /*duzina dropdowna bude cijele duzeine boxa*/
}

header ul li ul li a{
	padding: 10px;
	background: white;
	color: #444;
	height: 60px;
}

header ul li ul li a.logout{
	color:red;
}

header ul li ul li a:hover {
	background-color:  #d5d6d6; 
}

header ul li a{
	display:block;
	padding: 21px;
	font-size: 1.1em;
	text-decoration: none;
}

header ul li a:hover{
	background: #098058;
	
}

/*	CONTENT______________________________________________________________________________*/
	.content {
		width: 70%;
		margin: 50px auto 50px;
		border: 2px solid #5c5c5c;
		background-color: white;
	}
	.content-container{
		padding-left: 270px;
	}
	.content .counter-content{
		width: 3%;
		height: 80px;
		float: left;
		font-size: 24px;
		text-align: center;
		min-width: 48px;
	}
	.content .main-content{
		float: left;
	}
	.content .main-content .recent-post-title a{
		text-decoration: none;
		color: black;
	}
	.content .main-content .recent-post-title{
		margin: 5px;

	}
	.content .main-content .post-preview{
		margin: 5px;
		text-decoration: none;
	}
	.toGreen:hover{
	 color:#1d9c72;
	}
	.toRed:hover{
	 color:red;
	}
	.toGreen{
		color: #5c5c5c;
	}
	.toRed{
		color: #5c5c5c;
	}



/*____________login i singup nesto___________________________________________*/
.btn{
	padding: .5rem 1rem;
	background: #1d9c72;
	color: white;
	border: 1px solid transparent;
	border-radius: .25rem;
	font-size: 1.08em;
	font-family: 'Lora', 'serif';
}

.btn-big{
	padding: .7rem 1.3rem;
	line-height: 1.3rem;
}

.btn:hover{
	color: white;
	background: #005255;
}

.text-input{
	padding: 0.7rem 1rem;
	display: block;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	outline: none;
	color: #444;
	line-height: 1.5rem;
	font-size: 1.2em;
	font-family: 'Lora', 'serif';
}


/* AUTHORIZATION PAGES */
.auth-content{
	width: 30%;
	margin: 50px auto;
	padding: 20px;
	background: white;
	border-radius: 5px;
}

.auth-content .form-title{
	text-align: center;
	color: #1d9c72;
	font-size: 2em;
	font-family: 'Lora', 'serif';
}

.auth-content form div{
	margin-bottom: 10px;
	padding-bottom: 20px;
	font-size: 1.08em;
	font-family: 'Lora', 'serif';
}

.auth-content form p{
	text-align: center;
}

.auth-content form p a{
	text-decoration: underline;
}


/* PROFILE CSS */

/* Profile container */
.profile-container {
  margin: 20px 0;
  height: 400px;
  width: 300px;
  display: flex;
  justify-content: center;
  padding-left: 30px;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic{
	padding-left: 100px;
}

.fa-user-astronaut{
	font-size: 80px;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #005255;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.nav{
	display: inline-flex;
	flex-direction: row;
}

.karma{
	align-self: flex-start;
	padding-left: 15%;
	padding-right: 35px;
	font-family: 'Lora', 'serif';
}

.created{
	align-self: flex-end;
	padding-right: 5%;
	font-family: 'Lora', 'serif';
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.fa-meteor{
	color: red;
}

.fa-dragon{
	color: red;
}


/*MEDIA  REQUIRMENTS_________________________________*/

@media only screen and (max-width: 750px) {
	header{
		position: relative;
	}
	header ul{
		width: 100%;
		background-color: #0E94A0;
		max-height: 0px;
		overflow: hidden;
	}
	.showing{
		max-height: 100em;
	}

	header ul li{
		width: 100%;
	}
	header ul li ul{
		position: static;
		display: block;
		width: 100%;
	}
		header ul li ul li a{
		padding: 10px;
		background:  #0E94A0;
		color: white;
		padding-left: 50px;
	}

		header ul li ul li a:hover{
			background: #006669;
		}	

		header ul li ul li a.logout{
			color:red;
	}
		header .menu-toggle{
		display: block;
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: 1.9em;
	}
	header .logo {
	margin-left: 2em;
	}

}

/*-profile page----------------------------------------------*/




/*-profile page----------------------------------------------*/
